footer
	p.contact Contact me: <a href="mailto:dominicaveyard@gmail.com">dominicaveyard@gmail.com</a> -- <a href="http://www.linkedin.com/pub/dominic-aveyard/6/428/82/">Dom on LinkedIn</a>
	p.disclaimer &copy; 2006 - #{copyYear} Dominic Aveyard. Opinions expressed are those of Dominic Aveyard and not necessarily any previous or current employer. 
	