footer
	p.contact Contact me: <a href="mailto:dominicaveyard@gmail.com">dominicaveyard@gmail.com</a> -- <a href="http://theplaidlab.com/logbook/" title="theplaidlab.com logbook">Read the logbook</a> -- <a href="http://www.linkedin.com/pub/dominic-aveyard/6/428/82/">Dominic on LinkedIn</a>  
	p.p View the source for the site on <a href="https://github.com/madangus/theplaidlab.com" title="This site on github">Github</a>
	p.disclaimer &copy; 2006 - #{copyYear} Dominic Aveyard. Opinions expressed are those of Dominic Aveyard and not necessarily any previous or current employer. 
	