html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
#contentWrapper{font-size:.875rem;line-height:1.286em;margin:16px auto;max-width:94%;padding:0;width:73.142em;}
#contentWrapper h1,#contentWrapper .h1{display:inline-block;font-size:2.25rem;line-height:1.5em;margin:.5em 0;}
#contentWrapper h2,#contentWrapper .h2{font-size:1.5rem;line:height 1.333em;margin:.75em 0;}
#contentWrapper h3,#contentWrapper .h3{font-size:1.125rem;line-height:1em;margin:1em 0;}
#contentWrapper h4,#contentWrapper .h4{font-size:1rem;line-height:1.125em;margin:1.125em 0;}
#contentWrapper p,#contentWrapper .p{font-size:.875rem;line-height:1.286em;margin:1.286em 0;}
#contentWrapper ul,#contentWrapper .ul{line-height:1.286em;margin:1.286em 0;}
#contentWrapper ul li,#contentWrapper .ul li,#contentWrapper ul .li,#contentWrapper .ul .li{list-style-type:disc;margin-left:1.286%;}
#contentWrapper .nestedList{font-size:.875rem;margin:0;}
#contentWrapper .nestedList .nestedlistItem{margin-left:2.571%;}
#contentWrapper dt,#contentWrapper .dt{font-weight:bold}
#contentWrapper dd,#contentWrapper .dd{padding-left:1.286%;}
.intro{margin-bottom:0}
.thoughts .points{margin-top:0}
#labTitle{width:30%;}
#labTitle .the{color:#000}
#labTitle .plaid{color:#008000}
#labTitle .lab{color:#00f}
#headlineDom{font-style:italic;text-align:right;width:70%}
#weeMobileContent{display:none}
.bio .content{width:75.683%;}
.bio .headshot{float:right;margin:0 3.515% 3.515% 3.515%;}
.bio .webDevElevator{margin-top:0}
@media all and (max-width: 20em){#weeMobileContent{display:block}
.bio,.tinkering,.stage{display:none}
*[data-module="carousel"]{display:none}
}@media all and (max-width: 33.75em){#weeMobileContent{display:block}
*[data-module="carousel"] .portfolioHeading,*[data-module="carousel"] .mobileNav{display:inline-block}
}@media all and (max-width: 48em){#weeMobileContent{display:none}
.bio,.tinkering,.stage{display:block}
}*[data-module="slideshow"]{-webkit-backface-visibility:hidden;-webkit-transform:rotateY(0);-webkit-backface-visibility:hidden;-webkit-transform:rotateY(0);-webkit-backface-visibility:hidden;-webkit-transform:rotateY(0);}
*[data-module="slideshow"] .mobileNav{display:none}
*[data-module="slideshow"] .portfolioHeading,*[data-module="slideshow"] .desktopNav{display:inline-block}
*[data-module="slideshow"] .desktopNav{text-align:right;width:81.649%;}
*[data-module="slideshow"] *[data-control="stage"]{display:inline-block;overflow:hidden;width:91.796%;}
*[data-module="slideshow"] .itemsWrapper{-webkit-transition:.5s all linear;-moz-transition:.5s all linear;-o-transition:.5s all linear;-ms-transition:.5s all linear;transition:.5s all linear;width:500%;}
*[data-module="slideshow"] *[data-display-item]{display:inline-block;height:450px;margin:0 .425%;position:relative;vertical-align:top;width:19.148%;}
*[data-module="slideshow"] *[data-control="pager"]{clear:both}
