doctype 5
html
	head

		<!-- typekit -->

		script(src="//use.typekit.net/zak4bpe.js")
		script
			try{Typekit.load();}catch(e){}
		
		<!-- end typekit -->


		script
			// For debugging this gets output later
			var lWidth = document.documentElement.clientWidth;
			window.domsNastyGlobalOriginalLayoutViewport = lWidth;

		title= title
		<meta name=viewport content="width=device-width, initial-scale=1.0" />
		link(rel='stylesheet', href='/stylesheets/master.css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
		script(src="/javascripts/modules.js")
		script(src="/javascripts/master.js")

		<!--[if lte IE 9]>
		script		
			document.createElement('header');
			document.createElement('nav');
			document.createElement('article');
			document.createElement('footer');
		<![endif]-->

	body
		include partials/header
		block content
		include partials/footer

