doctype 5
html
	head

		script
			if (! window.console) {
				window.console = {};
				window.console.log = function() {};
			} else {
				console.log('console found');
			}

			
		<!-- typekit -->

		script(src="//use.typekit.net/zak4bpe.js")
		script
			try{Typekit.load();}catch(e){}
		
		<!-- end typekit -->

		script
			// For debugging this gets output later
			var lWidth = document.documentElement.clientWidth;
			window.domsNastyGlobalOriginalLayoutViewport = lWidth;

		title= title
		<meta name=viewport content="width=device-width, initial-scale=1.0" />
		link(rel='stylesheet', href='/stylesheets/master.css')
		link(rel='stylesheet', href='/stylesheets/media.css')		
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
		script(src="/javascripts/modules.js")
		script(src="/javascripts/master.js")

		<!--[if lte IE 9]>
		script		
			document.createElement('article');
			document.createElement('aside');
			document.createElement('footer');
			document.createElement('header');
			document.createElement('main');			
			document.createElement('nav');
		<![endif]-->

		<!--[if (lt IE 9) & (!IEMobile)]>
		<link rel="stylesheet" href="/css/master.css" media="all">
		<![endif]-->

	body
		include partials/header
		block content
		include partials/footer

