doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		<!--[if lte IE 9]>
		script		
			document.createElement('header');
			document.createElement('nav');
			document.createElement('article');
			document.createElement('footer');
		<![endif]-->

	body
		include partials/header
		block content
		include partials/footer
