/* Styles for laptop/desktop */

*[data-module="slideshow"]
	-webkit-backface-visibility: hidden
	-webkit-transform: rotateY(0deg)

	.mobileNav
		display none

	.portfolioHeading,
	.desktopNav
		display inline-block

	.desktopNav
		text-align right	
		width 81.649%							/* 836/1024 */

	*[data-control="stage"]
		display inline-block
		overflow hidden
		width 91.796%							/* 940/1024 */ 
	-webkit-backface-visibility: hidden
	-webkit-transform: rotateY(0deg)

	.itemsWrapper
		transition 0.5s all linear		
		width 500%								/* 4700/940 (Desired size is number of items * length of each item including margin) */
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotateY(0deg);

	*[data-display-item]
		display inline-block
		margin 0 0.425%							/* 20/4700 */
		position relative
		vertical-align top
		width 19.148%							/* 900/4700  */		

	*[data-control="pager"]
		clear both
		
