/* Styles for laptop/desktop */

*[data-module="carousel"]

	*[data-control="navigate"]
		height 100px
		width 3.571%

	*[data-control="navigate"]
		display inline-block
		vertical-align top

	*[data-control="navigate"][data-action="back"]
		background-color blue

	*[data-control="navigate"][data-action="forward"]
		background-color green

	*[data-control="stage"]
		display inline-block
		overflow hidden
		width 87.890%							/* 900/1024 */ 
		/* iOS flicker fix */
		-webkit-backface-visibility: hidden
		-webkit-perspective:1000

	.itemsWrapper
		transition 0.5s margin linear		
		width 500%								/* 4500/900 (Desired size is number of items * length of each item including margin) */

	*[data-display-item]
		display inline-block
		margin 0 0.444%							/* 20/4500 */
		vertical-align top
		width 19.111%							/* 860/4500 (900 - 20 either side for breathing room) */

	*[data-control="pager"]
		clear both
		
