/* immediate imports - these may be used immediately so please keep at the top */

@import "nib/vendor"


/* theplaidlab.com master styles */

/* reset 
* 		extracted from Eric Meyer CSS reset 2.0 - http://meyerweb.com/eric/tools/css/reset/ 
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin 0
	padding 0
	border 0
	font-size 100%
	font inherit
	vertical-align baseline


/*	The above is effectively setting the html root to 16px, the common 100%.  
*	However, since cannot be absolutely certain 1 use em based mq breakpoints
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section 
	display block


/* plaidlab proper begins */

/*
*
*	Responsive design is a fancy, fast changing beastie. This site uses an elastic layout to display well as screen size increases and
*	keep a sense of proportion. The max-width constraint on the wrapper stops text becoming stupid long if size is increased.
*	Later as I add more content, the design may go completely fluid if I come up with a nice widescreen optimized layout.
*
*	Of course, the max-width constraint is only one way to prevent dreaded scrollbars as text is resized. This is a good example of not 
*	using max-width but instead tweaking the font sizes at breakpoints instead - 
*	http://hicksdesign.co.uk/journal/finally-a-fluid-hicksdesign 
*
*		Font size - For most browsers rems are supported. The fallback (first overridden measure) is for IE 8 and old, olde mobile.
*			Use formula: desired size / font size of the html root.
*
*
*		Vertical widths - Margins, padding in ems since they are inherently tied to the font size. 
*						  Line height in the proportional unitless measure, to stop crazy compounding cascade shenanigans.*				
*
*		Master horizontal width set in ems for #contentWrapper - an 'ideal' of 1024px across.
*			Use formula: desired size / font size of containing element.	
*
*		Subsequent horizontal widths - margins, padding, et al in percentages (% are at least to me a more logical unit for the horiz).
*				(% also avoid some layout quirks mentioned places like this - 
*					http://www.456bereastreet.com/archive/201101/only_use_ems_for_the_total_width_of_em-based_layouts/ )		
*
*			Use formula: desired size / context size.
*			NOTE: Padding in %, context size = width of the element. Margins in %, context size = width of the CONTAINING ELEMENT.
*
*	MOST IMPORTANTLY
*		This design is using the modular scale technique described here - http://alistapart.com/article/more-meaningful-typography
*		The 'scale' can be found in the css/modularScale.txt or http://modularscale.com/scale/?px1=16&px2=1024&ra1=1.618&ra2=0
*		Essentially I picked the px sizes I wanted from the scale and then used the formulas above to implement them
*/


/* global defaults */

main
	font-family "myriad-pro","Arial",sans-serif
	font-size 1rem													/* 16px */
	line-height 1.5 												/* 150% */ 
	margin 16px auto
	max-width 94%
	padding 0
	width 73.142em													/* 1024/14 */


	h1,
	.h1
		display inline-block
		font-family "ff-cocon-web-pro","Helvetica",sans-serif
		font-size: 5rem												/* 80/16  */
		line-height: 2;											
		margin 0.2em 0												/* V: 18/9 */

	h2,
	.h2
		font-family ff-cocon-web-pro
		font-size 2rem								/* 32/16 */
		line height 1.5		
		margin 0.75em 0								/* 18/24 */

	h3,
	.h3
		font-size 1.125rem							/* 18/16 */
		line-height 1.4								/* 18/18 */
		margin 1em 0								/* V: 18/18 */		

	h4,
	.h4
		font-size 1rem								/* 16/16 */
		line-height  1.125em						/* 18/16 */
		margin 1.125em 0							/* 18/16 */

	p,
	.p
		font-size 1rem								
		line-height 1.5			
		margin 1.286em 0							/* V: 18/14 */

	ul,
	.ul
		line-height 1.3
		margin 1.286em 0							/* V: 18/14 */

		li,
		.li
			list-style-type disc	
			margin-left 1.286% 						/* 18/14 */

	.nestedList
		font-size 0.875rem
		margin 0

		.nestedlistItem
			margin-left 2.571%						/* 36/14 */

	dt,
	.dt
		font-weight bold

	dd,
	.dd
		padding-left 1.286% 						/* 18/14 */



/* wee utility beasties */

.intro
	margin-bottom 0

.thoughts .points
	margin-top 0


/* title */

#labTitle
	width 80%

	.the
		color black

	.plaid
		color green

	.lab
		color blue


/* wee mobile content */	
#weeMobileContent
	display none


/* intro */
.contentColumn
	display inline-block
	width 45.359%								/* 464.486/1024 */
	
.contentCallout

	.webDevElevator	
		margin-top 0






/* imports 
*		Keep these at the bottom so they override the defaults
*/

@import "wee"
@import "middle"
@import "big"


