/* immediate imports - these may be used immediately so please keep at the top */

@import "nib/vendor"
@import "iconMoonFont"

/* reset 
* 		extracted from Eric Meyer CSS reset 2.0 - http://meyerweb.com/eric/tools/css/reset/ 
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin 0
	padding 0
	border 0
	font-size 100%
	font inherit
	vertical-align baseline


/*	The above is effectively setting the html root to 16px, the common 100%.  
*	However, since cannot be absolutely certain 1 use em based mq breakpoints
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section 
	display block


/* plaidlab proper begins */

/*
*
*	Responsive design is a fancy, fast changing beastie. This site uses an elastic layout to display well as screen size increases and
*	keep a sense of proportion. The max-width constraint on the wrapper stops text becoming stupid long if size is increased.
*	Later as I add more content, the design may go completely fluid if I come up with a nice widescreen optimized layout.
*
*	Of course, the max-width constraint is only one way to prevent dreaded scrollbars as text is resized. This is a good example of not 
*	using max-width but instead tweaking the font sizes at breakpoints instead - 
*	http://hicksdesign.co.uk/journal/finally-a-fluid-hicksdesign 
*
*		Font size - For most browsers rems are supported. The fallback (first overridden measure) is for IE 8 and old, olde mobile.
*			Use formula: desired size / font size of the html root.
*
*		Vertical widths - Margins, padding in ems since they are inherently tied to the font size and for the vertical, behave well.
*								Use formula: desired size / font size of element 
*						  Line height in the proportional unitless measure, to stop crazy compounding cascade shenanigans. 				
*								Use formula: unit is <x> * element font size -- for example, 1.5 * 16 for our paragraphs gives 24
*							 		(I mostly eyeballed it and used trial and error to get the final numbers, generally around font size + 8)
*							 		 Great article here (I just found this out!) http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/
*
*		Master horizontal width set in ems for main - an 'ideal' of 1024px across.
*			Use formula: desired size / font size of containing element.
*
*		Subsequent horizontal widths - margins, padding, et al in percentages (% are at least to me a more logical unit for the horiz).
*				% also avoid some layout quirks mentioned places like this...
*				-- http://www.456bereastreet.com/archive/201101/only_use_ems_for_the_total_width_of_em-based_layouts/	
*
*			Use formula: desired size / width of containing element (sometimes for padding this may be width of the element itself).
*
*	MOST IMPORTANTLY
*		This design is using the modular scale technique described here - http://alistapart.com/article/more-meaningful-typography
*		The 'scale' can be found in the css/modularScale.txt or http://modularscale.com/scale/?px1=16&px2=1024&ra1=1.618&ra2=0
*		Essentially I picked the px sizes I wanted from the scale and then used the formulas above to implement them
*/


/* vars */

$overallContentWidth = 64em			/* 1024/16 */
$contentColumnWidth = 42.578%			/* 436/1024 ( 464 - 26 padding, 2 cushion) */
$contentCalloutWidth = 38.198%				/* 391.150/1024 */


/* global defaults */

html
	background #eee url('/images/domAtDesk.png') no-repeat top center fixed
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover

main,
footer
	font-family "myriad-pro","Arial",sans-serif
	font-size 1rem													/* 16px */
	line-height 1.5 												/* 150% */ 
	margin 16px auto
	max-width 94%
	padding 0
	width $overallContentWidth


	h1,
	.h1
		display inline-block
		font-family "ff-cocon-web-pro","Helvetica",sans-serif
		font-size 80px
		font-size: 5rem												/* 80/16  */
		line-height: 1.5;											
		margin 0.446em 0											/* 35.274/80 */

	h2,
	.h2
		font-family ff-cocon-web-pro
		font-size 32px
		font-size 2rem								/* 32/16 */
		line height 1		
		margin 0 0 0.809em 0						/*  25.888/32 */

	h3,
	.h3
		font-size 18px
		font-size 1.125rem							/* 18/16 */
		line-height 1								
		margin 1.211em 0							/* V: 21.801/18 */		

	h4,
	.h4
		font-size 18px
		font-size 1.125rem
		font-style italic	
		margin 1.125em 0 0.5em 0	

	p,
	.p
		font-size 16px
		font-size 1rem								
		line-height 1.5			
		margin 0 0 1.362em 0						/*  21.801/16 */

	dt,
	.dt
		font-weight bold

	h1, 
	h2, 
	h3, 
	.leader 
		text-rendering optimizeLegibility 



/* wee utility beasties */

.intro
	margin-bottom 0

.thoughts .points
	margin-top 0

.hide,
*[data-module="slideshow"] *[data-control].hide
	display none

/* icons */

.formulaIcon
	font-size 32px
	font-size 2rem
	position relative
	top 0.75em

	&.html
		color blue
	&.js
		color red
	&.css
		color green

/* 2 col 
* contentCol on left, contentCallouts on right
*/

.contentColumn,
.contentCallout
	background-color #ddd
	display inline-block
	opacity 0.9
	padding 1.362em 2.129%						/* v: 21.801/16  h: 21.801/1024 */
	vertical-align top

.contentColumn
	margin-right 6.614%							/* 67.773 / 1024 */	
	width $contentColumnWidth

	.leader
		font-size 19px
		font-size 1.187rem						/* 19/16 */						
		line-height 1.5
		margin 0 0 1.362em 0					/*  25.888/19 */

.contentCallout
	width $contentCalloutWidth


/* title */

#labTitle
	width 80%
	.the
		color white
	.plaid
		color white
	.lab
		color white


/* wee mobile content */	
#weeMobileContent
	display none


/* intro */

.bio,
.sidebar
	display inline-block
	vertical-align top

.bio
	width $contentColumnWidth

	.contentColumn
		padding 1.362em 5%						/* v: 21.801/16  h: 21.801/436 */
		width 100%		/* of bio width */

.sidebar 
	margin-left 14.5%								/*  148 / 1024 ... margin orig 67.773 */	
	width $contentCalloutWidth

	.primaryNav,
	.webFormula
		padding 1.362em 5.573%					/* v: 21.801/16  h: 21.801/391.150 */
		width 100%

	.primaryNav
		margin-bottom 2.75em							/* 44/16 */

	.webFormula
		border solid 2px black
		margin-top 7.812em 							/* 125/16 */

		.formulaIcon
			margin-right 4.092%						/* 16/391 */

		dd,
		.oo
			margin-left 14.596% 					/* 57.073/391 */

		.ooContainer
			margin 0

			.icon-info
				color blue
				font-size 2rem
				position relative
				top 1.5em			


.behindTheCurtain,
.currentExperiments,
.portfolio
	background-color #ddd	
	opacity 0.9
	margin 4.235em 0							/* v: 67.773/16 */
	padding 1.362em 2.129%						/* v: 21.801/16  h: 21.801/1024 */

.skillBucket 
	margin-top 4.6em


/* portfolio */

.portfolio
	h3
		margin-top 0

	ul,
	.ul

		margin 1.362em 0 1.362em 0					/*  21.801/16 */

		li,
		.li
			list-style-type disc	
			margin-left 4.859% 						/* 41.887/862 */

	.nestedList
		font-size 14px
		font-size 0.875rem
		margin 0

		.nestedlistItem
			margin-left 6.620%						/* 57.073/862 */


	.shot
		border 0
		display block
		margin 1em auto
		width 95.444%  								/* 859/900 */

	.inspect
		margin-top 0


/* footer */

footer
	background-color #ddd	
	opacity 0.9

	.contact
		padding 1.362em 2.129% 0 2.129%						/* v: 21.801/16  h: 21.801/1024 */

	.disclaimer
		padding 0 2.129% 1.362em 2.129%						/* v: 21.801/16  h: 21.801/1024 */



/* ie 7 */

* + .contentColumn,
* + .contentCallout 
* + .bio,
* + .sidebar,
* + .portfolioHeading,
* + #stage,
* + .portfolioItem
	display inline
	zoom 1
	


