/* Styles for landscape and tablets 
*		max-width 768px
*		768/16
*/

@media all and (min-width: 40em) and (max-width: 48em) 

	*[data-module="slideshow"]
		.portfolioHeading
			display inline-block

		.swipeNav
			margin-left 14.648%					/* 150/1024 */

