/* Styles for landscape and tablets 
*		max-width 768px
*		768/16
*/

@media all and (max-width: 48em) 

	#weeMobileContent
		display none

	.bio,
	.tinkering,
	.stage
		display block

	*[data-module="slideshow"]
		.portfolioHeading,
		.mobileNav
			display inline-block

		*[data-control="navigate"]
			display none


