/* Styles for landscape and tablets 
*		max-width 768px
*		768/16
*/

@media all and (min-width: 40em) and (max-width: 48em) 


	.tinkering,
	.stage
		display block


	*[data-module="slideshow"]
		.portfolioHeading,
		.swipeNav
			display inline-block

		.swipeNav
			margin-left 14.648%					/* 150/1024 */

		*[data-control="navigate"]
			display none


