/* Styles for mobile portrait
*		max-width 320px	
*		320/16
*/

@media all and (max-width: 20em)

	#weeMobileContent
		display block

	.bio,
	.tinkering,
	.stage
		display none

	*[data-module="carousel"]
		display none


/* Styles for mobile landscape 
*		max-width 540px	
*		540/16
*/


@media all and (max-width: 33.75em) 
	#weeMobileContent
		display block

	*[data-module="carousel"]
		.portfolioHeading,
		.mobileNav
			display inline-block


