/* Styles for mobile portrait
*		max-width 320px	
*		360/16
*/

@media screen and (max-width: 22.5em)
	.bio,
	.webFormula
		display block
		width 100%

	#weeMobileContent
		display block

	article
		display block

	*[data-module="slideshow"]
		overflow none

		.desktopNav
			display none
		
		article
			display block

		*[data-display-item]
			display block




/* Styles for mobile landscape 
*		max-width 540px	
*		640/16
*/


@media screen and (min-width: 22.6em) and (max-width: 40em) 
	#weeMobileContent
		display block

	*[data-module="slideshow"]
		.portfolioHeading,
		.mobileNav
			display inline-block


