/* Styles for mobile portrait
*		max-width 320px	
*		360/16
*/

@media screen and (max-width: 40em)
	.container,
	.bio,
	.sidebar,
	.contentColumn,
	.contentCallout
		display block
		margin-left auto
		margin-right auto
		width 96%

	.skillBucket
		margin-top 0

	*[data-module="slideshow"]
		overflow none

		.portfolioHeading,
		.mobileNav
			display inline-block

		*[data-control="navigate"],
		.swipeNav		
			display none
		
		article
			display block

		*[data-display-item]
			display block



